.result-modal-container{
    display: none;
    position: relative;
    z-index: 3;
}
.show{
    display: block;
}
.triptagon{
    position: absolute;
    left: 0px;
    background-color: #fff;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 2px;
    content: "";
    height: 14.14427px;
    
    transform: translateZ(0) rotate(45deg);
    transform-origin: top left;
    width: 14.14427px;
    top: 24%;
        }
.lesson-container{
    padding : 3rem 7rem;
    margin-top: 3rem;
    min-height: 10vh;
    .close-btn-container{
        .close-btn{
            font-size: 25px;
            color: #ccc;
        }
    }
    .progess-bar-container{
        padding: 0 2.5rem;
        .progess-bar{
            width: 100%;
            height: 16px;
            background-color: #ccc;
            border-radius: 8px;
            
        }
    }
    .heart-container{
        .heart{
            
        }
        .heart-count{
            color: rgb(255,75,75);
            font-size: 15;
            font-weight: 700;
        }
    }
}
.content-section{
    min-height: 61vh;
    padding-bottom: 20vh;
   
}
.question-container{
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    // overflow: auto;
    // height: 70px;
    
    .question{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: .2px;
    }
}
.lesson-footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    min-height: 20vh;
    .skip-btn,
    .check-btn{  
        border: 1px solid #ccc;
        padding: 1.25rem 4rem;
        font-size: 15px;
        font-weight: 700;
        color: #999;
        text-transform: uppercase;
        border-radius: 1.5rem;
        box-shadow: 0 3px 2px 0;
        &:hover{
            border: 1px solid #ccc;
            color: #999;
            background-color: #cccccc7b;
        }
        &:active{
            transform: translate(0,3px);
            box-shadow: none;
        }
    }
    .active{
        background-color: rgb(88,204,2);
        color: #fff;
        border-radius: 1.5rem;
        box-shadow: 0 3px 2px 0 rgb(66, 151, 2);
        &:hover{
            border: 1px solid #ccc;
            background-color: rgb(88,204,2);
            opacity: .7;
            color: #fff;
        }
    }
    .disabled{
        background-color: #cccccc7b;
        box-shadow: none;
        &:hover{
            background-color: #cccccc7b;
            box-shadow: none;
        }
    }
    
}

// listen-layout
.listen-layout-container{
    width: 600px;
    min-height: 450px;
    text-align: center;
    .listen-secton-title{
        font-size: 30px;
        font-weight: 700;
        line-height: 3.2rem;
        margin-bottom: 2.5rem;
    }
    .listen-button-container{
        
        .listen-button{
            font-size: 50px;
            color: #fff;
            background-color: rgb(24,153,214);
            height: 100px;
            width: 100px;
            border-radius: 25%;
        }
        .listen-slow-button{
            font-size: 30px;
            height: 70px;
            width: 70px;
            border-radius: 25%;
            color: #fff;
            background-color: rgb(24,153,214);
            
        }
    }
    .type-answer-area-container{
        .type-answer-area{
            line-height: 24px;
            background-color: #cccccc3b;
            resize: none;
            outline: none;
            border: 1px solid #ccc;
            letter-spacing: .7px;
            font-size: 16px;
            font-weight: 500;
            appearance: none;
            
        }
    }
}
// listen-layout

//write layout
.write-layout-container{
    width: 600px;
    min-height: 450px;
    text-align: center;
    .write-layout-title{
        font-size: 30px;
        font-weight: 700;
        line-height: 3.2rem;
        margin-bottom: 3.5rem;
    }
    // .question-container{
    //     border: 2px solid #ccc;
    //     padding: 2rem;
    //     border-radius: 8px;
    //     overflow: auto;
    //     height: 200px;
    //     .triptagon{
    //         position: absolute;
    //         left: 0px;
    //         background-color: #fff;
    //         border-left: 2px solid #ccc;
    //         border-bottom: 2px solid #ccc;
    //         border-radius: 2px;
    //         content: "";
    //         height: 14.14427px;
            
    //         transform: translateZ(0) rotate(45deg);
    //         transform-origin: top left;
    //         width: 14.14427px;
    //     }
    //     .question{
    //         font-size: 17px;
    //         font-weight: 600;
    //         letter-spacing: .2px;
    //     }
    // }
    .type-answer-area{
        line-height: 24px;
        background-color: #cccccc3b;
        resize: none;
        outline: none;
        border: 1px solid #ccc;
        letter-spacing: .7px;
        font-size: 16px;
        font-weight: 500;
        appearance: none;
        
    }
}
//write layout

// speak-layout
.speak-layout-container{
    width: 600px;
    min-height: 450px;
    text-align: center;
    .speak-secton-title{
        font-size: 30px;
        font-weight: 700;
        line-height: 3.2rem;
        margin-bottom: 2.5rem;

        
    }
    
    .speak-button-container{

        
        
        .speak-button{
            font-size: 50px;
            color: #fff;
            background-color: rgb(24,153,214);
            height: 70px;
            width: 70px;
            border-radius: 25%;
        }
        
    }
    .type-answer-area-container{
        .type-answer-area{
            line-height: 24px;
            background-color: #cccccc3b;
            resize: none;
            outline: none;
            border: 1px solid #ccc;
            letter-spacing: .7px;
            font-size: 16px;
            font-weight: 500;
            appearance: none;
            
            
        }
    }
}
// speak-layout
//read layout
.read-layout-container{
    width: 600px;
    min-height: 450px;
    text-align: center;
    .read-layout-title{
        font-size: 30px;
        font-weight: 700;
        line-height: 3.2rem;
        margin-bottom: 3.5rem;
    }
    // .question-container{
    //     border: 1px solid #ccc;
    //     padding: 2rem;
    //     border-radius: 8px;
    //     .question{
    //         font-size: 17px;
    //         font-weight: 600;
    //         letter-spacing: .2px;
    //     }
    // }
    .type-answer-area-container{
        .answer-list{
            list-style-type: none;
            padding: 0;
            .answer-item{
                .answer-number{                   
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 27px;
                    height: 27px;
                    border: 2px solid #cccccc7b;
                    color: #ccc;
                }
                border: 2px solid #dbdbdb;
                font-size: 16px;
                font-weight: 600;
                padding: 1.25rem;
                box-shadow: 0 2px 0 0 #ddd;
                border-radius: 12px;
                &:active{
                    transform: translate(0, 2px);
                    box-shadow: none;
                }
                
            }
            .answer-active{
                border-color: rgb(132,216,255);
                box-shadow: 0 2px 0 0 rgb(76, 192, 245);
                color: rgb(24,153,214);
                background-color: rgb(221,244,255);
                .answer-number {
                    border-color: rgb(153, 218, 249);
                    color: rgb(24,153,214);
                    
                }
            }
        }
        
    }
}
//read layout

//modal
    //correct-modal
    .correct-modal-container {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: rgb(215,255,184);
        min-height: 20vh;
        width: 100%;
        .correct-modal{
            width: 1000px;
            height: 100%;
            .check-icon-container{
                background-color: #fff;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                
                // .check-icon{
                //     font-size: 30px;
                //     color: rgb( 88,167,0);
                //     font-weight: 800;
                // }
            }
            .correct-text-container{
                max-width: 400px;
                min-width: 320px;
                .corrext-text-title{
                    color: rgb( 88,167,0);
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 3rem;
                }
                .correct-text{
                    color: rgb( 88,167,0);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 2rem;
                }
                
            }
            .next-question-btn{
                min-width: 150px;
                background-color: rgb(88,204,2);
                box-shadow: 0 4px 2px 0 rgb(68, 154, 2);
                border-radius: 15px;
                color: #fff;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
                &:hover{
                    opacity: .9;
                }
                &:active{
                    box-shadow: none;
                    transform: translate(0, 4px);
                }
                
            }
        }
    }
    
    //correct-modal

    //wrong-modal
    .wrong-modal-container {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: rgb(255,223,224);
        min-height: 25vh;
        width: 100%;
        padding: 20px 0px;
        .wrong-modal{
            width: 1000px;
            height: 100%;
            .wrong-icon-container{
                background-color: #fff;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                
                
                // .check-icon{
                //     font-size: 30px;
                //     color: rgb( 88,167,0);
                //     font-weight: 800;
                // }
            }
            .wrong-text-container{
                max-width: 400px;
                min-width: 320px;
                .wrong-text-title{
                    color: rgb( 234,43,43);
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 3rem;
                }
                .wrong-text{
                    color: rgb( 234,43,43);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 2rem;
                }
                
            }
            .wrong-next-question-btn{
                min-width: 150px;
                background-color: rgb(255,75,75);
                box-shadow: 0 4px 2px 0 rgb(246, 51, 51);
                border-radius: 15px;
                color: #fff;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
                &:hover{
                    opacity: .9;
                }
                &:active{
                    box-shadow: none;
                    transform: translate(0, 4px);
                }
                
            }
        }
    }
//modal

//
.lesson-complete-container{

    .conrats-container{

        .conrats-title {
            font-size: 32px;
            font-weight: 700;
            color: rgb(255,200,0);
        }
        .conrats-small-title {
            font-size: 19px;
            font-weight: 500;
            color: rgb(175,175,175);
        }
    }
    .result-contaner{
        margin: 100px 0;
        .exp-point-container{
            background-color: rgb(255,200,0);
            width: 200px;
            border: 2px solid rgb(255,200,0);
            .exp-point-container-title{               
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
            }
            .exp-point-display{
                background-color: #fff;
                width: 100%;
                height: 80px;
                font-size: 18px;
                font-weight: 700;
                color: rgb(255,200,0);
            }
        }
        
            .point-container{
                background-color: rgb(88,204,2);
                width: 200px;
                border: 2px solid rgb(88,204,2);
                .point-container-title{               
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                }
                .point-display{
                    background-color: #fff;
                    width: 100%;
                    height: 80px;
                    font-size: 18px;
                    font-weight: 700;
                    color: rgb(88,204,2);
                }
            
            }
    }
}
//
