
.course-container{
    margin-left: 275px;
}
.welcome-modal-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
}

.mobile-header{
    position: fixed;
    height: 100px;
    z-index: 20;
    left: 0;
    box-shadow: 1px 2px 0px 1px #cccccc3a;
    right: 0;
    background-color: #fff;
}
.content>*{
    transition: width 1s ease-in-out;
}

@media screen and (max-width : 768px){
    .course-container{
        margin-left: 75px;
    }
}
@media screen and (max-width : 576px){
    .course-container{
        margin-left: 0px;
    }
    .content{
        margin-top: 110px;
        margin-bottom: 120px;
    }
}