.correct-answer-display{
    color: rgb(88,167,0);
    background-color: rgb(215,255,184);
}
.wrong-answer-display{
    color: rgb(234,43,43);
    background-color: rgb(255,223,224);
}.correct-icon{
    color: rgb(88,167,0);
}
.wrong-icon{
    color: rgb(234,43,43);

}

.result-modal-wrapper{
    position: relative;
    
    .result-modal-overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.65);
        z-index: 3;
        .result-wrapper{
            min-width: 50%;
            max-width: 90%;
            height: 70%;
            position: relative;
            .close-modal-btn-container{
                width: 30px;
                height: 30px;
                position: absolute;
                top: -15px;
                right: -15px;
                z-index: 11;
                .close-modal-btn{
                    border: 1px solid #ccc;
                    &:hover{
                        color: #999;
                    }
                }
            }
            .result-modal-container{
                background-color: #fff;
               
                overflow-x: hidden;
                overflow: auto;
                
                .result-title-container{
                    
                    .result-title{
                        font-size: 27px;
                        font-weight: 700;
                        color: #333;
                        line-height: 2rem;
                    }
                }
    
                .result-display-container{
                    cursor: pointer;
                    .icon{
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        background-color: #fff;
                        border: none;
                        
                    }
                    .result-display{
                        border: 1px solid #ccc;
                        height: 150px;
                        overflow-y: auto;
                        scrollbar-gutter: stable;
    
                        &::-webkit-scrollbar{
                            width: 5px ;
                           }
                          
                           &::-webkit-scrollbar-thumb {
                            border-radius: 1rem;
                            background: #aaa; 
                            height: 20px;
                          }
                          &::-webkit-scrollbar-track-piece:end{
                            margin-bottom: 2px;
                          }
                          &::-webkit-scrollbar-track-piece:start{
                            margin-top: 2px;
                          }
                        .question-result-title{
                            font-size: 17px ;
                            font-weight: 700;
                            line-height: 1.75rem;
                        }
                        
                            .title{
                                font-size: 13px ;
                                font-weight: 700;
                                line-height: 1rem;
                            }
                            .answer{
                                font-size: 13px;
                                font-weight: 400;
                            }
                        
                        
                    }
                }
            }
        }
    }
}