.license-title{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;

}
.term-title{
    font-size: 19px;
    font-weight: 700;
}
.term-content{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}