.gem-container,
.heart-container,
.streak-container {
    font-size: 16px;
    font-weight: 700;
    
}
.heart-container{
    color: rgb(255,75,75);
}
.gem-container{
    color: rgb(28,176,246);
}
.streak-container {
    color: rgb(255,150,0);
}