.border-right{
    border-right: 1px solid #ccc;
}
.nav-list-container {
    box-shadow: 0 0px 1px 0px;
    min-height: 100vh;
}
.nav{
    position: fixed;
    left: 0;
    padding-left: 0;    
    width: 250px;
}

.nav-item{
    border: 1px solid transparent;
    padding: 1.25rem;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #555 !important;
    text-transform: uppercase;
    
    &:hover {
        background-color: #cccccc2a;
    }
    &:active {
        border-color: rgb(66,133,244);
    }
    .sub-menu{
        display: none;
        width: 250px;
        padding: 1rem 0;
        position: absolute;
        top: 0px;
        left: 230px;
        border: 1px solid #ccc;
        background-color: #fff;
        .sub-menu-list{
            list-style-type: none;
            padding: 0;
            .sub-menu-item{
                padding: 1rem 0;
                width: 100%;
                
                &:hover {
                    background-color: #cccccc2a;
                }
                &:active {
                    border-color: rgb(66,133,244);
                }
                .item-link{
                    font-size: 13px;
                    font-weight: 700;
                    text-decoration: none;
                    color: #555 !important;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.show-sub-menu:hover .sub-menu{
    display: block;
}