.border-right{
    border-right: 1px solid #f1f1f1;
}
.nav-list-container {
    box-shadow: 0 0px 1px 0px;
    min-height: 100vh;
    
    
    
}
.nav{
    position: fixed;
    left: 0;
    padding-left: 0;    
    width: 250px;
    background-color: #fff;
    z-index: 1;
    transition: width 100ms ease-in-out;
}
.isActive{
    background-color: rgba(28,176,246, 0.2) !important;
    color: rgb(28,176,246) !important ;
    border-color: rgb(28,176,246) !important;
    
}
.item-link{
                   
    padding: .5rem 0 0 3rem;
    width: 250px;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    
    
    &:active {
        border-color: rgb(66,133,244);
    }
    &:hover {
        background-color: #cccccc2a !important;
        color: #777;
    }
}
.practice-open-sub-menu{
    cursor: pointer;
    .pratice-sub-menu{
        display: none;
        position: absolute;
        min-width: 250px;
        max-width: 350px;
        background-color: #fff;
        top: -10px;
        left: 190px;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 2px 1px #ccc;
        z-index: 6;
        

    }
    &:hover {
        .pratice-sub-menu{
            display: block;
        }
    }
}
   

.nav-item{
    border: 1px solid transparent;
    padding: 1.25rem;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    &:first-child{
        border-bottom: 1px solid #f1f1f1;
        padding: .5rem;
        &:hover {
            background-color: transparent !important;  
            cursor: pointer; 
            
        }
    }
    
    &:hover {
        background-color: #cccccc2a;
        color: #777;
    }
    &:active {
        border-color: rgb(66,133,244);
    }
    .logo-container {
        max-width: 100px;
        max-height: 100px;
    }
    .sub-menu{
        display: none;
        width: 250px;
        padding: 1rem 0;
        position: absolute;
        top: -100px;
        left: 190px;
        border: 1px solid #f1f1f1;
        background-color: #fff;
        z-index: 6;
        box-shadow: 0px 2px 1px #ccc;
        
        .sub-menu-list{
            list-style-type: none;
            padding: 0;
            
            .sub-menu-item{
                
                width: 100%;
                &:hover {
                    background-color: #cccccc2a;
                    .item-link {
                         
                    }
                }
                
                
               
            }
        }
    }
}

.show-sub-menu:hover .sub-menu{
    display: block;
    
}
@media screen and (max-width : 769px){
    .nav{
        width: 75px !important;
    }
    .sub-menu,.pratice-sub-menu{
        left: 45px !important;
        top: -34px !important;
    }
    .sidebar-title{
        display: none !important;
    }
    .sidebar-title{
        display: none !important;
    }
}

@media screen and (max-width : 576px){
    .nav{
        width: 0 !important;
    }
    .sub-menu{
        top: -228px !important;
        left: -217px !important;
    }
    .pratice-sub-menu{
        left: -50% !important;
        top: -143px !important;
    }
    .nav-list-container {
        box-shadow: none;
        border: none !important;
        .nav-list {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100px;
            background-color: #fff;
            box-shadow: 4px 0px 2px #ccc;
            padding: 1.5rem 0;
            
            .nav-item{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
   
}