.explain-answer-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    .back-btn{
        position: absolute;
        top: -40%;
        left: -2%;
        font-size: 18px;
        border-color: transparent !important;
        outline: none;
        &:hover {
            color: #999;
        }
    }
}