@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat','sans-serif';
    font-size: 1.5rem;
}
.show {
    display: block !important;
}


.online-status{
    background-color:  #56F000;
}
.offline-status{
    background-color: #FF3838;
}
.hang-on-status{
    background-color: #FFB302;
}