@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat','sans-serif';
    font-size: 1.5rem;
}
.show {
    display: block !important;
}


.online-status{
    background-color:  #56F000;
}
.offline-status{
    background-color: #FF3838;
}
.hang-on-status{
    background-color: #FFB302;
}

*::-webkit-scrollbar{
    width: 2px ;
   }
  
   *::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #262d3f; 
    height: 20px;
  }
  *::-webkit-scrollbar-track-piece:end{
    margin-bottom: 2px;
  }
  *::-webkit-scrollbar-track-piece:start{
    margin-top: 2px;
  }